venv/
env/
.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.env
.env.local
.env.production
.vscode/
dist/
build/
*.egg-info/
*.egg
mongo_data/

# Maven targets y archivos compilados
target/
*.jar
*.war
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# IDE
.idea/
*.iml
*.iws
*.ipr
.metadata/
.factorypath

# OS
.DS_Store
Thumbs.db