##Configuracion del service

APP_NAME=servicio-auditoria
APP_VERSION=1.0.0
SERVICE_HOST=localhost
SERVICE_PORT=8000


#CONEXION A BASE DE DATOS
MONGODB_URL=mongodb://localhost:27017
DATABASE_NAME=auditoriadb
COLLECTION_NAME=eventos



JWT_SECRET=mi-clave-super-secreta-para-jwt-de-512-bits-minimo-requerido-para-firmar-tokens-seguros-en-el-sistema-de-contratos-uptc-2026
JWT_ALGORITHM=HS512


EUREKA_ENABLED=true
EUREKA_SERVER=http://localhost:8761/eureka/
